*.gcda
*.gcno
*.o
*.gch
*.h.gch
*.gcov
playdom
player
unittest1
unittest2
unittest3
unittest4
cardtest1
cardtest2
cardtest3
cardtest4
randomtestadventurer
randomtestcard1
randomtestcard2
testdominion
diff
*.out
mutant*_dominion.c
